.secondary-news-tags {
  margin: 8px 0px;
  display: flex;
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.6px;
  text-transform: uppercase;
}

.secondary-tag-1 {
  color: #c4007a;
  margin-right: 5px;
}

.secondary-tag-2 {
  color: #7cd401;
  margin-left: 5px;
}

.secondary-spacer {
  margin-bottom: 30px;
}
