/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
  font-family: "Open Sans";
  font-weight: 400;
  color: #fff;
}

a {
  color: inherit;
}

h2 {
  color: #000;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.row + .row {
  margin-top: 16px;
}

.row > .col,
.row > [class^="col-"] {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}

// font-family: 'Open Sans', sans-serif;
// 400 700 800

article {
  height: 50vh;
  position: relative;
}

h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 104%;
  letter-spacing: -0.88px;
  text-transform: uppercase;
}

p {
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 117.116%;
  letter-spacing: -0.68px;
  margin-right: 20px;
  margin: 10px 0px;
}

span {
  display: flex;
  color: rgba(255, 255, 255, 0.45);
  line-height: normal;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}

span p {
  margin: 0px 7px;
  font-size: 12px;
}
